@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
}

@font-face {
  font-family: 'SpaceGrotesk-Variable';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/fonts/SpaceGrotesk-Variable.woff2') format('woff2');
}
@font-face {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Satoshi-Variable.woff2') format('woff2');
}
@font-face {
  font-family: 'Modelica02-Medium';
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/BwModelicaSS02-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Modelica02-Bold';
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/BwModelicaSS02-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/RobotoCondensed.woff2') format('woff2');
}
